.homeH1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
    text-shadow: 0 0 10px #000;
    margin-bottom: 3%;
}
.homeP {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
    text-shadow: 0 0 10px #000;
    margin-bottom: 1rem;
}
.homeB {
    display: flex;
    justify-content: center;
    margin-top: 4%;
}
.homeH2 {
    font-size: 3rem;
    font-weight: 700;
    margin: 3%;
    padding: 0;
    text-align: center;
    color: black;
    text-shadow: 0 0 10px #000;
    margin-bottom: 1rem;
}
.homePacksList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    margin-top: 7%;
   text-align: center;
}

.searchPacks {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    text-align: center;
}
.searchPacksBar {
    text-align: center;
}


@media screen and (max-width: 768px) {
    .homePacksList {
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
    }
    .homePackP {
        margin-right: 0;
    }
    .homePackH3 {
        margin: 0;
        text-align: center;
    }
}